<?xml version="1.0" encoding="UTF-8"?>
<!-- debug="true"会在控制台打印logback内部日志 -->
<configuration debug="false">
    <!-- 关闭logback内部日志ch.qos.logback.xxx -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- 默认配置项,比如第一行是彩色日志依赖的渲染类 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 日志文件存储路径 -->
    <property name="LOG_PATH" value="/tmp/logs/eshop-manager"/>

    <!-- 日志格式：时间、日志级别、线程名称、打印日志的类、日志主体内容+换行符 -->
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID} --- [%thread] %logger{50}: %msg%n"/>

    <!-- 彩色日志,%clr默认是green -->
    <property name="CLR_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss.SSS} %clr(%-5level) %magenta(${PID}) --- %cyan([%thread]) %blue(%logger{50}): %msg%n"/>

    <!-- 将日志输出到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 指定某个配置只在指定环境下生效,在application.yaml切换spring.profiles.active调试 -->
            <springProfile name="dev">
                <pattern>${CLR_PATTERN}</pattern>
            </springProfile>
            <springProfile name="!dev">
                <pattern>${PATTERN}</pattern>
            </springProfile>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 将日志输出到文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CLR_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 基于时间和大小的滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件名称 -->
            <fileNamePattern>${LOG_PATH}/com.okccc.app-%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <!-- 日志文件超过100M就切割 -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 日志文件保留天数 -->
            <maxHistory>30</maxHistory>
            <!-- 日志总量超过10G就开始删旧的 -->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 设置全局日志级别,ALL/TRACE/DEBUG/INFO/WARN/ERROR/FATAL/OFF -->
    <root level="INFO">
        <!-- 指定打印日志的appender -->
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- 设置局部日志级别 -->
    <logger name="com.okccc.mapper" level="DEBUG"/>
</configuration>